

@media only screen and (max-width: 1024px) {
    section.product-det {
        padding-top: 56px !important;
    }
}

@media only screen and (max-width: 992px) {

    section.product-det {
        padding-top: 54px !important;
    }

    section.banner-sec img {
        margin-top: 50px;
    }
    .bg-service-cmn {
        padding: 30px 10px;
        height: 200px;
    }
    .footer-twosec {
        margin-left: 50px;
    }

    .total-price a {
        width: 60%;
    }
  }

  @media only screen and (max-width: 912px) {

    .pricebggb {
        margin-right: 10px;
    }

    .row.total-pricebg .col-md-8 {
        padding: 0;
    }

    .row.total-pricebg .col-md-4 {
        padding: 0;
    }

    .increment-decrement li {
        margin-right: 5px;
    }
    .increment-decrement button {
        padding: 4px;
        width: 32px;
    }
    .comprar-modal button {
        width: 100%;
    }
  }

  @media only screen and (max-width: 821px) {
    .increment-decrement li {
        /* display: inline-block; */
        margin-right: 5px;
    }
    .increment-decrement button {
        padding: 4px;
        width: 32px;
    }
    .comprar-modal button {
        width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {

    .slider-detbg {
        padding: 20px 10px;
    }

    .itams-shopingpro .col-md-3 {
        width: 30%;
    }

    .itams-shopingpro {
        position: relative;
    }

    .slider-detbg {
        position: absolute;
        top: 0;
        right: 30px;
    }

    .slider-detbg p {
        font-size: 14px;
    }

    

    

    section.product-det {
        padding-top: 53px !important;
    }

    .product-sec {
        padding: 90px 0 0;
    }

    .productdet-right {
        position: relative;
    }

    .ul-productincdec {
        position: absolute;
        right: 0;
        top: 60%;
    }

    

    .smal-product {
        margin-top: 60%;
    }

    .smal-product {
        margin-top: 94%;
    }

    .productdet-right {
        margin-top: 30px;
    }
    .bg-service-cmn {
        margin-bottom: 20px;
    }

    .header-sec .col-md-4 {
        max-width: 33.3%;
    }

    .footer-twosec {
        margin-left: 0px;
    }

    .footer-fistsec {
        margin-bottom: 40px;
    }

    .footer-twosec {
        margin-bottom: 40px;
    }

    .delet-pricesaid {
        text-align: start;
    }

    div#totalID .col-md-6 {
        max-width: 50%;
    }

    section.mais-vistos-wp {
        padding-top: 90px !important;
    }

    
  }

  @media only screen and (max-width: 640px) {
    .smal-product {
        margin-top: 94%;
    }
  }


  @media only screen and (max-width: 576px) {

    

    .footer-twosec li {
    display: inline-block;
    padding-right: 14px;
    margin-right: 14px;
    border-right: 1px solid;
}

    .product-infobg {
    padding: 14px 0px;
    text-align: start;
}

    .product-sec .col-lg-3.col-md-6.col-sm-6 {
    max-width: 50%;
}

    button.tablinks {
        max-width: 33%;
    }

    .product-cmnbg {
    margin: 0 0% 30px;
}

.mais-vistos-sec .col-lg-3.col-md-6.col-sm-6 {
    max-width: 50%;
}

    .img-offprice {
        left: 4%;
    }

    .smal-product {
        margin-top: 89%;
    }
    .product-cmnbg {
        text-align: center;
    }

    .product-cmnbg.mais-vistosCmn:hover .img-offprice {
        display: block;
    }

    .total-price a {
        width: 95%;
        margin-top: 20px;
    }

    div#offcanvasExampless {
        left: 0px !important;
        width: 100% !important;
    }
    
    
  }

  @media only screen and (max-width: 540px) {

    .container {
        overflow: hidden;
    }

    .comprar-modal .modal-dialog {
        margin-right: 0px;
        width: 100%;
    }

    .row.modal-carrinho {
        text-align: center;
    }

    

  }

  @media only screen and (max-width: 536px) {



  }

  @media only screen and (max-width: 414px) {

    section.product-det {
        padding-top: 53px !important;
    }
    
    .row.modal-carrinho {
        margin-top: 16px;
    }

    .smal-product {
        margin-top: 96%;
    }
    
    .smal-product {
        margin-top: 88%;
    }
    

  }

  @media only screen and (max-width: 413px) {
    

    .smal-product {
        margin-top: 88%;
    }
  }

  @media only screen and (max-width: 400px) {

    .footer-twosec li {
        padding-right: 8px;
        margin-right: 8px;
    }

    .smal-product {
        margin-top: 85%;
    }

    
    
  }

  @media only screen and (max-width: 394px) {
    .product-cmnbg.product-cmnbg2 {
        /* margin-left: 56px; */
    }

    
    .smal-product {
        margin-top: 87%;
    }
    li.carrinho-bg button {
        font-size: 14px;
    }
  }

  
  @media only screen and (max-width: 376px) {

    section.product-det {
        padding-top: 54px;
    }  
    
    .row.modal-carrinho p {
        margin: 0;
    }
    li.carrinho-bg button {
        font-size: 13px;
    }

    
    .smal-product {
        margin-top: 87%;
    }
    
  }

  @media only screen and (max-width: 360px) {

    .product-cmnbg.product-cmnbg2 {
        /* margin-left: 40px; */
    }
    
    li.carrinho-bg button {
        font-size: 12px;
    }
    
  }

  @media only screen and (max-width: 340px) {

    .smal-product {
        margin-top: 84%;
    }
    
  }

  @media only screen and (max-width: 280px) {
    .header-rightcon li {
        margin-right: 5px;
    }
  }

